header {
  box-sizing: border-box;
  margin: 0;
  height: 50px;
  width: 100%;
  border: 1px solid whitesmoke;
  background-color: #fff;
  justify-content: space-evenly;
}
header div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 20px;
  align-items: center;
}
header div section {
  display: flex;
}
header div section svg {
  height: 20px;
}
header div section h1 {
  margin: 0;
  color: lightgreen;
}
header div section h1 span {
  color: black;
}
header div section {
  margin: 0;
}
header div .acer {
  border: 1px solid black;
  height: 40px;
  align-items: center;
  outline: none;
}
header div .acer input {
  outline: none;
  height: 37px;
}
header div .container {
  height: 40px;
}
header div .container ul {
  text-decoration: none;
}
header div section button {
  background-color: #e40046;
  color: white;
  text-align: center;
  height: 38px;
  border-radius: 8px;
  border: 1px solid white;
}
header #list + .menu_strip {
  display: none;
}
header #list:checked + .menu_strip {
  display: block;
}
header .links {
  justify-content: space-evenly;
  height: 40px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 35px;
}
header .links a {
  text-decoration: none;
}
header .links a:hover {
  text-decoration: underline blue;
  color: black;
}

.rels {
  border: 1px solid lightgrey;
  width: 100%;
  position: relative;
  margin-top: 60px;
  display: flex;
  gap: 90px;
  background-color: #f4f4f4;
  align-items: center;
}
.rels .start {
  padding: 15px;
}
.rels .start a {
  text-decoration: none;
}
.rels .rek {
  display: flex;
}
.rels .rek .end, .rels .rek .x {
  background: linear-gradient(0deg, #6b82f6, #6b82f6);
  border: 2px solid white;
  height: 80px;
  align-items: center;
  width: 400px;
  font-style: italic;
  color: #fff;
  text-align: center;
}
.rels .rek .x {
  width: 50px;
  font-style: normal;
  align-items: center;
  font-size: xx-large;
  font-family: sans-serif;
}

aside {
  position: sticky;
  display: block;
}
aside div {
  margin-left: 0;
  overflow-y: scroll;
  border: 1px solid grey;
  width: 200px;
  display: block;
  flex-wrap: wrap;
}
aside div label {
  display: block;
}
aside div nav {
  display: flex;
}
aside div nav div {
  justify-content: end;
}
aside div input {
  width: 20px;
  height: 20px;
  color: blue;
}

main {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
main .icob {
  height: 18px;
  width: 18px;
  border: 1px solid black;
  justify-content: flex-start;
  margin-left: 8px;
  margin-top: 10px;
}
main div {
  display: block;
}
main div .around {
  display: flex;
  gap: 7px;
  margin-top: 6px;
}
main div .around .navbar {
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 25px;
  height: 42px;
  gap: 5px;
  margin-bottom: 10px;
  transition: 0.5s;
}
main div .around .navbar:hover {
  box-shadow: 4px -5px white;
  transform: scale(1, 1.1);
}
main div .around .navbar img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
main div .double {
  justify-content: space-evenly;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
main div .double .rasm {
  height: 240px;
  width: 245px;
  border-radius: 10px;
  transition: 0.5s;
  border: 2px solid white;
  overflow: hidden;
}
main div .double .rasm:hover {
  transform: translateY(-5px);
  box-shadow: 0px -5px 15px grey;
}
main div .double .rasm img {
  width: 100%;
  height: 170px;
}

.asosiy {
  display: flex;
  border: 2px solid lightcyan;
}

.Related {
  display: flex;
  gap: 40px;
  padding: 10px;
}

.ddd .around {
  display: block;
}
.ddd .around .heading {
  display: block;
}
.ddd .around .navbar {
  display: flex;
  border: 1px solid lightslategrey;
  border-radius: 25px;
  height: 31px;
  gap: 10px;
  width: 120px;
  align-items: center;
}
.ddd .around .navbar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}

footer {
  height: 70vh;
  width: 100%;
  background-color: black;
  padding-top: 10px;
  margin-top: 20px;
}
footer div {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
}
footer div div {
  display: block;
  color: darkgray;
  padding: 10px;
}
footer div div a {
  text-decoration: none;
  color: white;
}
footer nav {
  padding: 10px;
}
footer nav a {
  text-decoration: none;
  color: white;
}
footer section {
  justify-content: end;
}
footer section input {
  height: 40px;
  width: 140px;
  border-radius: 8px;
}

/*# sourceMappingURL=style.css.map */
